#about {
  height: 100vh;
  background: #FFF;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5) inset;

  .aboutImage {
    width: 100%;
    max-height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .about-description {
    font-size: 0.9rem;
    color: #6f6f6f;
  }
  .test {
    height: 100vh;
  }
}