
.modal-dialog {
  padding: 1.5rem;
  max-width: 800px;
}
.modal-content {
  margin: auto;
}


.btn-cart {
  cursor: pointer;
  margin-top: .7rem;
}
.badge-cart {
  position: relative;
  text-align: center;
  right: .7rem;
  bottom: .6rem;
  font-size: .7rem;
  padding: .1rem .3rem;
}


.btn-cart-checkout {
  width: 100%;
  &:hover{
    color: $pink-color;
  }
}




.cart-header {

  .title {
    z-index: -100;
    position: relative;
    margin-top: -2.2rem;
  }
}


.order-summary-cart-total {
  padding: 1rem;
  background: #ffffff;
  // box-shadow: -5px 0px 5px rgba(0, 0, 0, .3);

  li {
    list-style: none;
  }

}








.cart-item {


  img {
    height: 70px;
  }




  .cart-qty {
    display: flex;
    text-align: center;
    justify-content: center;

    .btn-cart-qty {
      border: none;
      background: none;
      cursor: pointer;
      font-size: 20px;
      color: rgb(168, 168, 168);
      transition-duration: .5s;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;

      &:focus {
        outline: none;
      }

      &:hover {
        color: black;
        transition-duration: .5s;
      }
    }

    span {
      width: 25px;
      cursor: default;
      padding: 3px;
      background: #ffffff;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

  }

  .btn-cart-remove {
    color: rgba(255, 0, 0, 0.513);
    border: none;
    background: none;
    font-size: 1rem;
    transition-duration: .5s;
    outline: none;

    &:hover {
      color: red;
      transition-duration: .5s;
    }
  }

}

