#cart {
  min-height: 70vh;
  margin-top: 70px;


  @media (min-width: 768px) {
    margin-top: 100px;
  }

  >div {
    height: 100%;
  }



  .cart-qty {
    .btn-cart-qty {
      border: none;
      background: none;
      cursor: pointer;
      font-size: 20px;
      color: rgb(168, 168, 168);
      transition-duration: .5s;

      &:focus {
       outline: none;
      }
      &:hover {
        color: black;
        transition-duration: .5s;
      }
    }

    span {
      width: 30px;
      cursor: default;
      padding: 5px;
      background: #F1F1F1;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

  }

  .btn-cart-remove {
    color: rgba(255, 0, 0, 0.513);
      border: none;
      background: none;
      font-size: 20px;
      transition-duration: .5s;
      outline: none;
      
      &:hover {
        color: red;
        transition-duration: .5s;
      }
  }


  // .cart-content {
  //   height: 100%;
  //   background-position: center;
  //   background-size: cover;

  //   &:before {
  //     content: '';
  //     display: inline-block;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     background-color: #003267;
  //     opacity: 0.7;
  //   }

  //   .intro {
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     position: relative;
  //     z-index: 2;

  //     .title {
  //       font-weight: bold;

  //       @media (min-width: 768px) {
  //         font-size: 4rem;
  //       }
  //     }

  //     .sub-title {
  //       font-weight: normal;
  //       max-width: 700px;
  //       margin: 0 auto;
  //       letter-spacing: 1px;
  //       font-size: 1rem;

  //       @media (min-width: 768px) {
  //         font-size: 1.2rem;
  //       }
  //     }
  //   }
  // }
}