
.cart-content {
  p {
    font-size: 1em;
  }
}

.modal-dialog {
  padding: 1.5rem;
  max-width: 900px;
}

.modal-content {
  margin: auto;
}


// .btn-cart {
//   cursor: pointer;
//   margin-top: .7rem;
// }
// .badge-cart {
//   position: relative;
//   text-align: center;
//   right: .7rem;
//   bottom: .6rem;
//   font-size: .7rem;
//   padding: .1rem .3rem;
//   user-select: none;
//   pointer-events: none;
// }


.cart-qty :not(input):not(textarea):not([contenteditable="true"]) {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}



.btn-cart-checkout {
  width: 100%;

  &:hover {
    color: $pink-color;
  }
}




.cart-header {

  .title {
    z-index: -100;
    position: relative;
    margin-top: -2.2rem;
  }
}


.order-summary-cart-total {
  padding: 1rem;
  background: #ffffff;
  // box-shadow: -5px 0px 5px rgba(0, 0, 0, .3);

  li {
    list-style: none;
  }

}