@keyframes scrolled {
  0% {
    top: -50px;
  }

  100% {
    top: 0;
  }
}


.add-style-nav {
  background-color: $light-bg;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}











.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @media (min-width: 767px) {
    position: absolute;
  }



  .search-bar {
    .MuiInputBase-input {
      // border-radius: 10px;
      box-shadow: none;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }





  .nav-title {
    @media (max-width: 767px) {
      margin-left: 1rem;
    }
  }
  .navbar-brand {
    font-family: satisfy, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 3em;
    color: #191919;
  }





  .navbar {
    // height: 100px;
    background-color: #F5F5F5;
    // box-shadow: 0px 2px 6px rgba(43, 73, 111, 0.2);

    &.scrolled {
      @media (min-width: 768px) {
        position: fixed;
        left: 0;
        right: 0;
        animation: scrolled 0.5s ease forwards;
        box-shadow: $boxShadow;
        background: #F5F5F5;
      }
    }

  }

  .nav-link {
    text-transform: uppercase;
    color: #191919 !important;
    font-size: 0.8rem;
    &:hover {
      color: darken($pink-color, 6%) !important;
    }
    // &.active {
    //   color: lighten($pink-color, 5%) !important;
    // }
    // @media (min-width: 768px) {
    //   padding: 1rem 1rem;
    // }
  }

  .nav-items {
    width: 100%;
    background-color: #F5F5F5;
    border-top: 1px solid rgba($color: #000000, $alpha: .3);
  }





  .scrolling-menu {
    background-color: #F5F5F5;
      padding:0;
      margin:0;

    a, li {
      list-style-type: none;
      // margin-left:2px;
      float:left; /*pour IE*/
      font-size: 0.8rem;
      text-transform: uppercase;
      // padding: .5rem .5rem;
      color: #191919;
      cursor: pointer;
      &:after {
        display: none;
      }
    }


      .dropdown-item.active, .dropdown-item:active {
        background-color: #f500563c !important;
      }
    

    
    .nav-link-out { color: #191919; padding: .5rem 1rem; }
    .nav-link-in { color: $pinkFade-color; }    
    .hovering {  color: $pinkFade-color; }
    

  }

}


/***** Preview item menu header *****/
/*****/
#tooltip-right > .tooltip-inner {
  // margin-left: -5rem;
  padding: .3rem !important;
  background-color: #fff !important;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before, .bs-tooltip-right .arrow::before{
  border-right-color: rgba(0,0,0,.7);
}









/***** Icons menu header *****/
/*****/
.btn-toggle-nav {
  outline: none;
}

.nav-icons {
  cursor: pointer;
  position: relative;
  z-index: 200;

  // @media (min-width: 1200px) {
  //   top: .5rem;
  //   right: .5rem;
  // }
  svg {
    padding: .2rem;
    // margin-top: -1.5rem;
    color: #191919;
    font-size: 1.7em !important;
    &:hover {
      // color: #858585;
      color: $pink-color;
    }
  }

  span {
    position: relative;
    top: -.5rem;
    right: -2.3rem;
    color: #191919;
    text-align: center;
    font-size: .8rem;
    padding: .1rem .3rem;
    // user-select: none;
    pointer-events: none;

    // background-color: $pinkFade-color;

    @media (max-width: 768px) {
      right: -3rem;
    }

    // @media (min-width: 1200px) {
    //   top: -1.2rem;
    //   right: -2.2rem;
    // }
  }
}























/***** Smart menu header *****/
/*****/
.nav-icons-small {
  cursor: pointer;
  position: absolute;
  right: -3rem;
  z-index: 200;

  svg {
    color: rgba(0, 0, 0, .7);
    font-size: 1.4em !important;
  }

  span {
    position: relative;
    top: -.5rem;
    left: 2rem;
    color: #fff;
    text-align: center;
    font-size: .7rem;
    padding: .1rem .3rem;
    // user-select: none;
    pointer-events: none;

    background-color: $pinkFade-color;
  }
}

.last {
  @media (max-width: 768px) {
    right: -.7rem;
  }
}