@keyframes scrolled {
  0% {
    top: -70px;
  }

  100% {
    top: 0;
  }
}


.add-style-nav {
  background-color: $light-bg;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}











.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @media (min-width: 767px) {
    position: absolute;
  }



  .search-bar {
    .MuiInputBase-input {
      // border-radius: 10px;
      box-shadow: none;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }





  .nav-title {
    @media (max-width: 767px) {
      margin-left: -5rem;
    }
  }

  .navbar-brand {
    font-family: satisfy, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2em;
    color: #191919;

  }





  .navbar {
    height: 70px;
    background-color: #F5F5F5;
    // box-shadow: 0px 2px 6px rgba(43, 73, 111, 0.2);

    &.scrolled {
      @media (min-width: 768px) {
        position: fixed;
        left: 0;
        right: 0;
        animation: scrolled 0.5s ease forwards;
        box-shadow: $boxShadow;
        background: white;
      }
    }

  }

  .nav-link {
    text-transform: uppercase;
    color: #191919 !important;
    font-size: 0.9rem;

    &:hover {
      color: darken($pink-color, 6%) !important;
    }

    &.active {
      color: lighten($pink-color, 5%) !important;
    }

    @media (min-width: 768px) {
      padding: 1rem 1rem;
    }
  }






  .scrolling-menu {

    .nav-link-scrolling-menu {
      text-transform: uppercase;
      font-size: 0.9rem;
      padding: 1rem 1rem;
      // width: 250px !important;
      // margin-right: 2rem;
      // svg {
      //   position: absolute;
      //   left: 6rem;
      // }
    }
    .nav-link-in { color: $pink-color; }    
    .nav-link-out { color: #191919; }
    .hovering {  background-color: #fce4ec; }

    .nav-cat {
      position: absolute;
      top: 50px;
      left: -6rem;
      z-index: 100;
      background-color: #fff;
      padding: 0;
      list-style: none;
      cursor: pointer;
      border-top: 1px solid rgba(0, 0, 0, 0.2);

      .cat-list {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        color: #191919;
        padding: 1.2rem;
      }
    }

    .nav-prod {
      position: absolute;
      top: -1px;
      left: 7.5rem;
      z-index: -5 !important;
      padding: 1rem;
      list-style: none;
      background-color: #fce4ec;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);

      li {
        color: #191919;
        font-size: .9em;
        width: 200px;
        padding: .5rem;
        // text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    
  }

}


#tooltip-right > .tooltip-inner {
  padding: .3rem !important;
  background-color: #fff !important;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);

}
.bs-tooltip-auto[x-placement^="right"] .arrow::before, .bs-tooltip-right .arrow::before{
  border-right-color: rgba(0,0,0,.7);
}






.btn-toggle-nav {
  outline: none;

}

.nav-icons {
  cursor: pointer;
  position: relative;
  z-index: 200;

  // @media (min-width: 1200px) {
  //   top: .5rem;
  //   right: .5rem;
  // }
  svg {
    padding: .2rem;
    margin-top: -1.5rem;
    color: rgba(0, 0, 0, .7);
    font-size: 2em !important;
  }

  span {
    position: relative;
    top: -.1rem;
    right: -1.2rem;
    color: #fff;
    text-align: center;
    font-size: .7rem;
    padding: .1rem .3rem;
    user-select: none;
    pointer-events: none;

    background-color: $pinkFade-color;

    @media (max-width: 768px) {
      right: -3rem;
    }

    // @media (min-width: 1200px) {
    //   top: -1.2rem;
    //   right: -2.2rem;
    // }
  }
}


.nav-icons-small {
  cursor: pointer;
  position: absolute;
  right: -3rem;
  z-index: 200;

  svg {
    color: rgba(0, 0, 0, .7);
    font-size: 1.4em !important;
  }

  span {
    position: relative;
    top: -.5rem;
    left: 2rem;
    color: #fff;
    text-align: center;
    font-size: .7rem;
    padding: .1rem .3rem;
    user-select: none;
    pointer-events: none;

    background-color: $pinkFade-color;
  }
}

.last {
  @media (max-width: 768px) {
    right: -.7rem;
  }
}