@keyframes scrolled {
  0% {
    top: -70px;
  }

  100% {
    top: 0;
  }
}

.add-style-nav {
  background-color: $light-bg;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @media (min-width: 767px) {
    position: absolute;
  }



  .search-bar {
    .MuiInputBase-input {
      // border-radius: 10px;
      box-shadow: none;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }











  .nav-title {
    @media (max-width: 767px) {
      margin-left: -5rem;
    }
  }

  .navbar-brand {
    font-family: satisfy, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2em;
    color: #191919;

  }








  .navbar {

    height: 70px;
    background-color: #F5F5F5;
    // box-shadow: 0px 2px 6px rgba(43, 73, 111, 0.2);

    &.scrolled {
      @media (min-width: 768px) {
        position: fixed;
        left: 0;
        right: 0;
        animation: scrolled 0.5s ease forwards;
        box-shadow: $boxShadow;
        background: white;
      }
    }
  }

  .nav-link {
    text-transform: uppercase;
    color: #191919 !important;
    font-size: 0.9rem;

    &:hover {
      color: darken($pink-color, 6%) !important;
    }

    &.active {
      color: lighten($pink-color, 5%) !important;
    }

    @media (min-width: 768px) {
      padding: 1rem 1rem;
    }
  }


}










  .btn-toggle-nav {
    outline: none;

  }

  .nav-icons {
    cursor: pointer;
    position: relative;
    z-index: 200;
      @media (min-width: 1200px) {
        top: .5rem;
        right: .5rem;
      }
    svg {
      padding: .2rem;
      margin-top: -1rem;
      color: rgba(0, 0, 0, .8);
      font-size: 2em;
    }
    span {
      position: relative;
      top: 0rem;
      right: -1rem;
      color: #fff;
      text-align: center;
      font-size: .7rem;
      padding: .1rem .3rem;
      user-select: none;
      pointer-events: none;
  
      background-color: $pinkFade-color;
      @media (max-width: 768px) {
        right: -3rem;
      }
      @media (min-width: 1200px) {
        top: -1.2rem;
        right: -2.2rem;
      }
    }
  }


  .nav-icons-small {
    cursor: pointer;
    position: absolute;
    right: -3rem;
    z-index: 200;

    svg {
      color: rgba(0, 0, 0, .8);
      font-size: 1.4em;
    }
    span {
      position: relative;
      top: -.5rem;
      left: 2rem;
      color: #fff;
      text-align: center;
      font-size: .7rem;
      padding: .1rem .3rem;
      user-select: none;
      pointer-events: none;
  
      background-color: $pinkFade-color;
    }
  }

  .test {
    @media (max-width: 768px) {
      right: -.7rem;
    }
  }