#home {
  height: 75vh;

  .home-content {
    height: 75%;

  }

  #star-svg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
  }


}

#logos {
  background: rgba(255, 68, 0, 0.2);
  padding: 1rem;
  height: 100%;
  display: block;

  img {
    height: 200px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px $boxShadow;
  }

  @media screen and (max-width: 576px) {
    font-size: .8em;

    img {
      height: 150px;

    }
  }
}



