.top-filters {
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (max-width: 768) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.toogle-display {

  ul {
    padding: 0;
    margin: 0;
  }

  .arttrack {
    font-size: 1.2em;

  }



  .MuiSvgIcon-root {
    font-size: 1.8em;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}


.sep-filters {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  h3 {
    color: $pink-color;
    font-weight: 500;
    font-size: 1.2em;
  }
}

// .display-filters {
//   span {
//     padding: .5rem;
//     border: 1px solid $pink-color;
//   }
// }




.product-images {
  overflow: hidden;

  // box-shadow: $boxShadow;
  // background: #F1F1F1;
  img {
    border-radius: 2px;

    &:hover {
      transition: 2s;
      // transform: scale(1.3);
    }


  }


  .MuiAlert-icon {
    margin: 0;
    padding: 1px;
  }

  .MuiAlert-message {
    padding: 3px;
  }



  .promotion {
    position: absolute;
    color: #ffffff;
    top: 2rem;
    right: 1rem;
    padding: .2rem;
    font-size: .8em;
    background-color: #f54337;
    pointer-events: none;
  }

  .novelty {
    position: absolute;
    color: #ffffff;
    top: 2rem;
    right: 1rem;
    padding: .2rem;
    font-size: .8em;
    background-color: #2979ff;
    pointer-events: none;
  }

}

.list-display {
  padding: .5rem;
  margin-top: 2rem;
  // transition: all .2s linear;
  @media screen and (max-width: 767px) {
    text-align: center;
    // height: 80vh;
  }



  .product-item {
    img {
      max-width: 90%;
    }
  }

  .promotion {
    top: .2rem;
    right: 2.5rem;
  }

  .novelty {
    top: .2rem;
    right: 2.5rem;
  }
}

.grid-display {
  padding: 1.5rem;
  text-align: center;
  transition: all .2s linear;
  .product-item {
    img {
      width: 100%;
      @media screen and (max-width: 576px) {
        width: 90%;
      }
    }
  }

  .product-details {
    p {
      margin-top: -10px;
      font-size: .8em;
    }
  }
}

.product-details {
  color: #6E6359;
  padding: 1rem;

  @media screen and (max-width: 576px) {
    text-align: center;
  }

  .rupture {
    font-size: .8em;
    height: 30px;
    max-width: 130px;

    .MuiAlert-icon {
      margin-top: -2px;
      padding: 0;
    }

    .MuiAlert-message {
      padding: 0;

    }
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    color: #191919;
    font-weight: 500;
  }

  h5 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    color: #191919;
    font-weight: 300;

    span {
      color: #19191956;
      text-decoration: line-through;
    }

    svg {
      margin-top: -4px;
    }
  }

  p {
    font-size: .9em;
  }

  b {
    font-size: .8em;
  }




  button {
    color: #F1F1F1;
    background: orangered;
    border-radius: 50px;
    font-size: .8em;
  }

  @media screen and (max-width: 576px) {
    height: 150px;
    max-width: 100% !important;

  }
}