.shop-display {
  // background: #ca5116;
  margin-top: 5rem;
  padding: 1rem;
  min-height: 40rem;
  background: white;


  .filter-content-top {}

  .filter-content-left {
    h3 {
      color: #f9b384;
      font-weight: 500;
      font-size: 1.3em;
    }
  }



  .filter-category {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    h4 {
      color: #f9b384;
      font-size: 1em;
    }

    .category-list {
      padding: 5px;
      display: inline-block;
      list-style: none;
      color: $category;
      font-weight: 400;
      cursor: pointer;

      @media screen and (max-width: 991px) {
        text-align: center;
        li {
          display: inline-block;
          margin-left: 1rem;
        }
      }

      li {
        transition-duration: .3s;

        &:hover {
          transition-duration: .3s;
          padding-left: 10px;
        @media screen and (max-width: 991px) {
          padding-left: 0;
        }
        }
      }
    }

    .active {
      padding-left: 10px;
      @media screen and (max-width: 991px) {
        padding-left: 0;
        font-weight: bold;
      }
    }

  }

}