.shop-display {
  // background: #ca5116;
  margin-top: 3rem;
  padding: 1rem;
  min-height: 60rem;
  background: white;

  .MuiTypography-root {
    color: rgba(0, 0, 0, 0.6);

  }

  .MuiFormControlLabel-label {
    font-family: "quickSandRegular", sans-serif;
    color: rgba(0, 0, 0, 0.7);
  }

  .filter-content-left {
    padding: 1rem;

    .MuiAccordionSummary-root {
      font-family: "quickSandRegular", sans-serif;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .MuiAccordion-root {
      &::before {
        display: none;
      }
    }

  }

  .filter-search {
    max-width: 20rem;

    svg {
      position: relative;
      z-index: 50;
    }
  }


  .MuiFormControlLabel-root {
    height: 20px;
    width: 100%;

    @media screen and (max-width: 991px) {
      width: auto;
    }
  }

  .filter-category {
    padding: 0;
    width: 100%;

    h4 {
      color: #f9b384;
      font-size: 1em;
    }


    .category-list {
      padding: 5px;
      display: inline-block;
      list-style: none;
      cursor: pointer;
      width: 100%;

      @media screen and (max-width: 991px) {
        text-align: center;

        li {
          display: inline-block;
          margin-left: 1rem;
        }
      }

      ul {
        display: block;
      }

      li {
        transition-duration: .3s;
        padding: .3rem;
        color: rgba(0, 0, 0, 0.7);

        @media screen and (max-width: 991px) {
          border-left: none;
          margin-left: 0rem;

        }

        &:hover {
          transition-duration: .3s;
          margin-left: 10px;

          @media screen and (max-width: 991px) {
            margin-left: 0rem;
            border-left: none;
          }
        }
      }
    }

    .active {
      margin-left: 10px;
      // background-color: rgba(0, 0, 0, 0.05);
      border-left: 1px solid #f50057;
      color: #f50057 !important;

      @media screen and (max-width: 991px) {
        margin-left: 0;
      }
    }

  }

}



.shop-top {
  margin-top: 3rem;
  background-color: #F5F5F5;
  border-bottom: 2px solid $pink-color;

  .title-product-shop-top {
    h1 {
      margin: 2rem;
      font-size: 5em;

      @media screen and (max-width: 768px) {
        font-size: 3em;
      }
    }
  }
}