.shop-display {
  // background: #ca5116;
  margin-top: 3rem;
  padding: 1rem;
  min-height: 60rem;
  background: white;

  .filter-content-top {}






  .filter-content-left {

    .MuiAccordionSummary-root {
      background: #F1F1F1;

      &:hover {}
    }

  }

  .filter-search {
    max-width: 20rem;

    svg {
      position: relative;
      z-index: 50;
    }
  }


  .MuiFormControlLabel-root {
    height: 20px;
    width: 100%;
    @media screen and (max-width: 991px) {
      width: auto;
    }
  }

  .filter-category {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    width: 100%;

    h4 {
      color: #f9b384;
      font-size: 1em;
    }


    .category-list {
      padding: 5px;
      display: inline-block;
      list-style: none;
      color: $dark-color;
      font-weight: 400;
      cursor: pointer;
      width: 100%;

      @media screen and (max-width: 991px) {
        text-align: center;

        li {
          display: inline-block;
          margin-left: 1rem;
        }
      }

      ul {

        display: block;
      }

      li {
        transition-duration: .3s;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding: .3rem;
        &:hover {
          transition-duration: .3s;
          padding-left: 10px;
          background-color: rgba(0, 0, 0, 0.05);

          @media screen and (max-width: 991px) {
            padding: .3rem;
          }
        }
      }
    }

    .active {
      padding-left: 10px;
      background-color: rgba(0, 0, 0, 0.05);

      @media screen and (max-width: 991px) {
        padding-left: 0;
      }
    }

  }

}



.shop-top {
  margin-top: 3rem;
  background-color: #F5F5F5;
  border-bottom: 2px solid $pink-color;

  .title-product-shop-top {
    h1 {
      font-family: satisfy, sans-serif;
      font-size: 5em;
      font-weight: bold;
      color: #191919;
      margin: 2rem;

      @media screen and (max-width: 768px) {
        font-size: 3em;
      }
    }
  }
}