#shop-view-product {
  min-height: 60rem;

  .backTo {

    i.icon,
    i.icons {
      width: 70%;
      cursor: pointer;
      font-size: .9rem;

      span {
        font-family: usual, sans-serif;
        padding-left: 1rem;
      }
    }
  }




  .carousel {
    padding: 1rem;
    height: 500px;

    @media screen and (max-width: 991px) {
      height: 100%;
      padding: 0;
      margin-top: 1rem;
    }

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;

        img {
          @media screen and (max-width: 1200px) and (min-width: 991px) {
            margin-top: 2rem;
          }
        }
      }
    }

    .carousel-control-prev span {
      @include background('./img/angle-left-solid.svg');
      height: 2rem;
    }

    .carousel-control-next span {
      @include background('./img/angle-right-solid.svg');
      height: 2rem;
    }

    .carousel-indicators {
      position: absolute;
      bottom: 0;
      margin-bottom: -1rem;
    }

    .carousel-indicators li {
      border-radius: 50%;
      height: 15px;
      width: 15px;
      background-color: $dark-color !important;
    }
  }


  .shop-view-top {
    height: 20vh;
    margin-top: 3rem;
    background-color: #f1f1f182;
  }


  .shop-view-0 {
    min-height: 70vh;
    padding: 1rem;


    @media screen and (max-width: 991px) {
      text-align: center;
      padding: 0;
    }

    // .shop-view-top {
    //   padding: 5rem;
    //   font-size: .9em;
    //   @media screen and (max-width: 576px) {
    //     margin-top: 4rem;
    //     padding: 1rem;
    //   }
    // }


    .shop-view-left {
      .img-0 {
        max-height: 30rem;
      }
    }

    .shop-view-right {
      .shop-view-right-infos {
        margin: auto;
        padding: 1rem;
        max-width: 400px;
        font-size: .9em;

        .title {
          font-weight: bold;
        }

        h5 {
          color: #191919;
          font-size: 1.4em;
          font-weight: 500;
        }

        .MuiAlert-standardError {
          cursor: pointer;
        }

        .MuiAlert-standardSuccess {
          cursor: pointer;
        }

        .add-cart-content {

          .MuiAlert-standardInfo .MuiSvgIcon-fontSizeInherit {
            margin-top: .5rem;
          }

          .btn-qty-cart {
            display: inline;
            cursor: pointer;
            font-size: 20px;
            color: rgb(168, 168, 168);
            padding: 10px;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;

            &:hover {
              color: black;
              transition-duration: .5s;
            }

          }
        }

        // .payment-secure {
        //   margin: 1em;
        // }
      }
    }
  }



  .shop-view-1 {
    margin-top: 4rem;

    .shop-view-content-1 {
      padding: 1rem;

      .motion-slide {
        position: absolute;
        bottom: 0px;
        margin-top: 17rem;
      }

      .motion-mask {
        margin-top: 2rem;
        width: 60% !important;
        box-shadow: 0 0 20px black;
        border-radius: 5px;

        @media screen and (max-width: 767px) {
          width: 80% !important;
        }
      }

      .motion-carousel {
        position: relative;
        top: -12rem;
        height: 100px;
        width: 100%;
        background: red;

        .motion-img-slide {
          height: 100px;
        }
      }

    }


  }




  .MuiBox-root {
    height: 80vh;
  }

  .MuiTabs-root {
    padding: .5rem;

  }

  .MuiButtonBase-root {
    outline: none;
  }
}


.table-description {
  color: #F1F1F1;
  width: 70%;
  margin: auto;

  @media screen and (max-width: 767px) {
    width: 90%;
  }

  th {
    font-weight: 100;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 2rem;
  }

  td {
    font-size: .9em;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }

  // thead th {
  //   border: none;
  // }
}