.top-filters {
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (max-width: 768) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.toogle-display {

  ul {
    padding: 0;
    margin: 0;
  }

  .arttrack {
    font-size: 1.2em;

  }



  .MuiSvgIcon-root {
    font-size: 1.8em;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}


.sep-filters {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  h3 {
    color: $pink-color;
    font-size: 1.2em;
  }
}

// .display-filters {
//   span {
//     padding: .5rem;
//     border: 1px solid $pink-color;
//   }
// }




.product-images {
  overflow: hidden;

  // box-shadow: $boxShadow;
  // background: #F1F1F1;
  img {
    border-radius: 2px;

    &:hover {
      transition: 2s;
      // transform: scale(1.3);
    }


  }


  .MuiAlert-icon {
    margin: 0;
    padding: 1px;
  }

  .MuiAlert-message {
    padding: 3px;
  }



  .promotion {
    position: absolute;
    color: #ffffff;
    top: 2rem;
    right: 1.7rem;
    padding: .2rem;
    font-size: .8em;
    background-color: #f54337;
    pointer-events: none;
  }

  .novelty {
    position: absolute;
    color: #ffffff;
    top: 2rem;
    right: 1.7rem;
    padding: .2rem;
    font-size: .8em;
    background-color: #2979ff;
    pointer-events: none;
  }

}








/***** CARDS *****/
/*****/


.grid-display {
  padding-top: 2rem;
  text-align: center;
  // transition: all .5s linear;

  // overflow: hidden;
  .product-item {
    
    .first-image {
      width: 90.6%;
      position: absolute;
      top: 2rem;
      left: .9rem;
      
      @media screen and (max-width: 1200px) {
        width: 89%;
      }
      @media screen and (max-width: 991px) {
        width: 92%;
      }      
      @media screen and (max-width: 768px) {
        display: none;
      }
      // @media screen and (max-width: 576px) {
      //   display: none;
      // }
    }    
    .second-image {
      width: 100%;
      position: relative;
      top: 0rem;
      left: 0rem;
      @media screen and (max-width: 576px) {
        width: 90%;
      }
    }

  }
}


.list-display {
  // padding: .5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  // transition: all .2s linear;
  @media screen and (max-width: 767px) {
    text-align: center;
    // height: 80vh;
  }

  .product-item {
    .first-image {
      width: 94%;
      position: absolute;
      top: 0rem;
      left: .9rem;
      @media screen and (max-width: 1200px) {
        // width: 94%;
        left: .7rem;
      }
      @media screen and (max-width: 991px) {
        // width: 93%;
      }      
      @media screen and (max-width: 768px) {
        // width: 94.7%;
        // left: .95em;
        display: none;
      }
    }    
    .second-image {
      width: 94%;
      position: relative;
      top: 0rem;
      left: 0rem;
      @media screen and (max-width: 576px) {
        width: 90%;
      }
    }
  }
  .product-details {
    padding: 1.5rem;
  }

  .promotion {
    top: .2rem;
    right: 1.2rem;
  }

  .novelty {
    top: .2rem;
    right: 1.2rem;
  }
}






.product-details {
  padding: 1rem;

  @media screen and (max-width: 576px) {
    text-align: center;
  }

  .rupture {
    font-size: .8em;
    height: 30px;
    max-width: 130px;

    .MuiAlert-icon {
      margin-top: -2px;
      padding: 0;
    }

    .MuiAlert-message {
      padding: 0;

    }
  }

}