#product-shop-view {
  background-image: linear-gradient(to right top, #fff1d6, #fce3bf, #fad4a9, #f9c495, #f9b384);

  .backTo {

    i.icon,
    i.icons {
      width: 70%;
      cursor: pointer;
      font-size: .9rem;

      span {
        font-family: usual, sans-serif;
        padding-left: 1rem;
      }
    }
  }


  .carousel {
    padding: 1rem;
    
    .carousel-control-prev span {
      @include background('./img/angle-left-solid.svg');
      height: 2rem;
    }

    .carousel-control-next span {
      @include background('./img/angle-right-solid.svg');
      height: 2rem;
    }

    .carousel-indicators {
      margin-bottom: 0;
    }
    .carousel-indicators li {
      border-radius: 50%;
      height: 15px;
      width: 15px;
      background-color: $dark-color !important;
    }
  }

  .shop-view-0 {
    padding-left: 18rem;
    padding-top: 4rem;
    min-height: 100vh;

    @media screen and (max-width: 1400px) {
      padding-left: 0;
    }

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    // .shop-view-top {
    //   padding: 5rem;
    //   font-size: .9em;
    //   @media screen and (max-width: 576px) {
    //     margin-top: 4rem;
    //     padding: 1rem;
    //   }
    // }


    .shop-view-left {
      .img-0 {
        max-height: 30rem;
      }
    }

    .shop-view-right {
      .shop-view-right-infos {
        margin: auto;
        padding: 1rem;
        max-width: 400px;
        font-size: .9em;

        .title {
          font-weight: bold;
        }

        h5 {
          color: #191919;
          font-size: 1.4em;
          font-weight: 500;
        }


        .add-cart-content {

          .btn-qty-cart {
            display: inline;
            cursor: pointer;
            font-size: 20px;
            color: rgb(168, 168, 168);
            padding: 10px;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;

            &:hover {
              color: black;
              transition-duration: .5s;
            }

          }
        }

        // .payment-secure {
        //   margin: 1em;
        // }
      }
    }
  }



  .shop-view-1 {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    background: #191919;


    .shop-view-content-1 {
      height: 100vh;

      padding: 1rem;

      .motion-slide {
        position: absolute;
        bottom: 0px;
        margin-top: 15rem;
      }

      .motion-mask {
        box-shadow: 0 0 20px black;
        width: 90% !important;

        @media screen and (max-width: 767px) {
          width: 100% !important;
        }
      }

      .motion-carousel {
        position: relative;
        top: -12rem;
        height: 100px;
        width: 100%;
        background: red;

        .motion-img-slide {
          height: 100px;
        }
      }

    }

    .shop-view-left-1 {

      img {
        max-height: 30rem;
      }

    }

  }

}