#product-shop {
  margin-top: 5em;

  .carousel {
    padding: 1rem;

    .carousel-control-prev span {
      @include background('./img/angle-left-solid.svg');
      height: 2rem;
    }

    .carousel-control-next span {
      @include background('./img/angle-right-solid.svg');
      height: 2rem;
    }

    .carousel-indicators li {
      background-color: $dark-color !important;
    }
  }

  .product-shop-0 {
    min-height: 95vh;
    padding-left: 18rem;

    @media screen and (max-width: 1400px) {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  .product-shop-left-0 {


    .img-0 {
      max-height: 30rem;
    }
  }

  .product-shop-right-0 {


    .infos-body {
      margin: auto;
      padding: 1rem;
      max-width: 400px;

      .title {
        font-weight: bold;
      }

      .price b {
        display: inline;
        font-size: 1.6em;
      }


      .add-cart-content {

        .btn-qty-cart {
          display: inline;
          cursor: pointer;
          font-size: 20px;
          color: rgb(168, 168, 168);
          padding: 10px;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;

          &:hover {
            color: black;
            transition-duration: .5s;
          }

        }
      }

      .payment-secure {
        margin: 1em;
      }
    }
  }

  .backTo {

    i.icon,
    i.icons {
      width: 70%;
      cursor: pointer;
      font-size: .9rem;

      span {
        font-family: usual, sans-serif;
        padding-left: 1rem;
      }
    }
  }



  .product-shop-1 {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 80vh;

    .product-right-1 {
      text-align: center;
      padding: 2em;
    }

    .product-left-1 {
      min-height: 100%;

    }

  }

}