.slick-component {

  .slick-content {

    .slick-dets {
      margin-top: -3rem;

    }
  }
.test {
  margin-top: -5rem;
}

  .slick-slide {

    .after-img {
      position: relative;
      z-index: 500;
      bottom: 2.8rem;

      span {
        display: block;
        width: 100%;
        height: 45px;
        margin: 0 auto;
        padding-top: .7rem;
        font-size: 1.2em;
        text-align: center;
        color: $dark-color;
        background-color: rgba(255, 255, 255, 0.9);

        transition: .5s;
        &:hover {
          transition: .5s;
          color: $light-color;
          background-color: rgba(0, 0, 0, 0.5);

        }
      }
    }
  }

  .promotion {
    position: relative;
    color: #ffffff;
    top: -18.6rem;
    left: 11.5rem;
    width: 50px;
    padding: .2rem;
    font-size: .8em;
    background-color: #f54337;
    pointer-events: none;
    @media screen and (max-width: 1199px) {
      top: -16.2rem;
      left: 8.8rem;
    }    
    @media screen and (max-width: 991px) {
      top: -21rem;
      left: 14.2rem;
    }    
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .novelty {
    position: relative;
    color: #ffffff;
    top: -18.7rem;
    left: 12.5rem;
    width: 35px;
    padding: .2rem;
    font-size: .8em;
    background-color: #2979ff;
    pointer-events: none;
    @media screen and (max-width: 1199px) {
      top: -16.2rem;
      left: 9.7rem;
    }    
    @media screen and (max-width: 991px) {
      top: -21rem;
      left: 15rem;
    }    
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

}