.slick-component {




  .slick-content {


    .slick-dets {
      margin-top: -.5rem;

      h2 {
        font-size: 1.2em;
      }

      h5 {
        font-size: 1em;

        span {
          color: #19191960;
          text-decoration: line-through;
        }
      }
    }
  }






}