.close {
  pointer-events: auto;

}

.btn-close {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 7;
}

.containerCard {
  max-width: 990px;
  flex: 1 1 100%;
  padding: 45px 25px;
}



.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.card {

  padding: 5px;
  margin: 10px;
  height: 460px;
  flex: 0 0 35%;
  max-width: 35%;
  background: rgba(0, 0, 0, 0);
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 60%;
  max-width: 60%;
}

.card:nth-child(odd) {
  padding-left: 0;
}

.card:nth-child(even) {
  padding-right: 0;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
  z-index: 5;
}

.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 0px 0;
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 10px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.open .card-content {
  height: auto;
  max-width: 80%;
  min-height: 20rem;
  overflow: hidden;
  // pointer-events: none;
  margin-top: 4rem;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.open .card-image-container,
.open .title-container {
  z-index: 1;
}

.title-container {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 300px;
}

.open .title-container {
  top: 30px;
  left: 30px;
}

h2 {
  color: #fff;
  margin: 8px 0;
}

.content-container {
  // padding: 460px 35px 35px 35px;
  // max-width: 700px;
  // width: 90vw;
  background: orange;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}



p {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 70%;
    max-width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .containerCard {
    max-width: 990px;
    flex: 1 1 100%;
    padding: 45px 5px;
  }

  .open .card-content {
    max-width: 100%;
  }


  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-content-container.open {
    padding: 0;
  }
}