/*** SASS VARIABLES ***/

// FONTS
$helvetica-Bd: 'NeueHelveticaforSpeedo-Bd'
$helvetica-Rg: 'NeueHelveticaforSpeedo-Rg'
$helvetica-Lt: 'NeueHelveticaforSpeedo-Lt'
$helvetica-It: 'NeueHelveticaforSpeedo-It'

// COLORS
$h1-color: rgba(255, 255, 255, 0.9)
$h2-blue-light: #A0D8F1
$text-blue-med: rgba(160, 215, 241, 0.5)
$span-yellow : #DA9E00

$h2-red-light: #da0000e3
$text-red-med: #da0000c4

$backgroundG : #F1F1F1
$backgroundB : #F1F1F1
$backShadow: 10px 10px 5px #00000055

$title: #202e3b

$border: rgba(0, 0, 0, 0.5)
$category: rgba(0, 0, 0, 0.3)
$categoryActive: rgba(0, 0, 0, 0.7)

$span: #248eff