@import "./app.sass";
@import "./libs/normalize.scss";
@import "./mixins.scss";
// @import url(//db.onlinewebfonts.com/c/174b2ec3d1b18323f2021ce3fdda6028?family=SamsungOne);

// Effects
@import './appGuruz.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Views


// Home
@import './partials/home';
@import './partials/home/slider_home_one';
@import './partials/home/home_collection';
@import './partials/home/home_promo_news';
@import './partials/home/home_cards_display';

//Shop
@import './partials/shop-display-products';
@import './partials/shop-list-product';
@import './partials/shop-view-product';

// Content
@import './partials/about';
@import './partials/facts';


// Components
@import './partials/header';
@import './partials/cart-modal';
@import './partials/slick-components';

// Payment
@import './partials/payment';
@import './partials/payment-form';
@import './partials/payment/row-item';
@import './partials/payment/success';

// Dashboard
@import './partials/dashboard';


// Sections
@import './partials/footer';

// FONTS
@import "~fontsource-roboto/index.css";


// html {
//   scroll-behavior: smooth;
// }

body {
  // font-family: usual, sans-serif;
  font-family: "Roboto", sans-serif;
  // background-color: $light-bg;

  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}


.background-home {
  // background-image: linear-gradient(to right top, #fff1d6, #fce3bf, #fad4a9, #f9c495, #f9b384);
  background: white;
}

main {
  width: 100%;
}

h1 {

  font-size: 4rem;
  color: $dark-color;
}




input {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

a {
  &:hover {
    text-decoration: none;
  }
}





.hide-div {
  display: none;
}







.slick-arrow {
  color: rgba(0, 0, 0, .3) !important;
  transition: .5s;

  &:hover {
    transition: .5s;
    color: rgba(0, 0, 0, .8) !important;
  }
}

.slick-n {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 1rem;
}

.slick-p {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 1rem;
}

.color-icon {
  color: rgba(0, 0, 0, 0.7);
}

.hovered {
  transform: scale(2);
}

.secondary {
  color: #f50057;

  &:hover {
    color: #f50057;
  }
}

.out {
  &:hover {
    color: #f50057;
  }
}


// Spinner
.css-jv9gnm {
  margin: auto;
}







.backTo {
  margin: .95rem;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .9;
  cursor: pointer;

  &:hover {
    color: #057EFF;
  }
}









.visage {
  position: absolute;
  top: 20rem;
  right: 0rem;
  height: 75rem;
  z-index: -2;
}




.par02 {
  position: absolute;
  top: 20rem;
  left: -50px;

  z-index: 2;
}








[data-scroll] {
  transition: transform .8s;
}

[data-scroll="in"] {
  transform: translateY(0);
}

[data-scroll="out"] {
  transform: translateY(100px);

}





.not-visible-left {
  // transform: translateX(-30px);
  opacity: 0;
}

















.MuiInputBase-input {
  background: #ffffff !important;

}