@import "./app.sass";
@import "./libs/normalize.scss";
@import "./mixins.scss";
// @import url(//db.onlinewebfonts.com/c/174b2ec3d1b18323f2021ce3fdda6028?family=SamsungOne);
// Effects
@import './appGuruz.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Views
// @import './partials/test';

// Home
@import './partials/home';
@import './partials/home/slider_home_one';
@import './partials/home/home_collection';
@import './partials/home/home_promotion';

//Shop
@import './partials/shop-display-products';
@import './partials/shop-list-product';
@import './partials/shop-view-product';

// Content
@import './partials/about';
@import './partials/facts';


// Components
@import './partials/header';
@import './partials/payment';
@import './partials/payment-form';
@import './partials/cart-modal';

// Sections
@import './partials/footer';


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');



// html {
//   scroll-behavior: smooth;
// }

body {
  // font-family: usual, sans-serif;
  font-family: "Roboto", sans-serif;
  // background-color: $light-bg;

  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}

.background-home {
  // background-image: linear-gradient(to right top, #fff1d6, #fce3bf, #fad4a9, #f9c495, #f9b384);
  background: white;
}

main {
  width: 100%;
}

h1 {

  font-size: 4rem;
  color: $dark-color;
}


h6 {

  font-size: 1.3rem;
  font-weight: 100;
  color: $dark-color;

}

input {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

a {
  &:hover {
    text-decoration: none;
  }
}

.collection-twelve {
  color: #f50057;

  &::before {
    position: absolute;
    top: -.5rem;
    margin: auto;
    content: '';
    height: 2px;
    width: 100px;
    background: #f50057;
  }
}

.collection-nine {
  color: orangered;

  &::before {
    position: absolute;
    top: -.5rem;
    margin: auto;
    content: '';
    height: 2px;
    width: 100px;
    background: orangered;
  }
}

.collection-eight {
  color: #dcb14a;

  &::before {
    position: absolute;
    top: -.5rem;
    margin: auto;
    content: '';
    height: 2px;
    width: 100px;
    background: #dcb15a;
  }
}

.secondary {
  color: #f50057;

  &:hover {
    color: #f50057;
  }
}

.out {
  &:hover {
    color: #f50057;
  }
}


.backTo {
  margin: .95rem;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .9;
  cursor: pointer;

  &:hover {
    color: #057EFF;
  }
}

.section-header-light {

  .section-title {
    font-family: satisfy, sans-serif;
    font-style: normal;
    font-size: 6rem;
    color: $light-color;

    @media screen and (max-width: 492px) {
      font-size: 4rem;
    }
  }

  .subtitle {
    font-family: usual, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    color: $light-color;

    @media screen and (max-width: 492px) {
      font-size: .9rem;
    }
  }
}

.section-header-dark {
  .section-title {
    font-family: satisfy, sans-serif;
    font-size: 6rem;
    color: $dark-color;

    @media screen and (max-width: 492px) {
      font-size: 2.2rem;
    }
  }

  .subtitle {
    font-family: usual, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    color: $dark-color;

    @media screen and (max-width: 492px) {
      font-size: .9rem;
    }
  }
}







.visage {
  position: absolute;
  top: 20rem;
  right: 0rem;
  height: 75rem;
  z-index: -2;
}

.areca {
  position: absolute;
  top: -7rem;
  left: -1rem;
  height: 35rem;

  user-select: none;
}



.par02 {
  position: absolute;
  top: 20rem;
  left: -50px;

  z-index: 2;
}


[data-scroll] {
  transition: transform 1s;
}

[data-scroll="in"] {
  transform: translateY(0);
}

[data-scroll="out"] {
  transform: translateY(100px);

}





.not-visible-left {
  // transform: translateX(-30px);
  opacity: 0;
}