@import "./app.sass";
@import "./libs/normalize.scss";
@import "./mixins.scss";
// @import url(//db.onlinewebfonts.com/c/174b2ec3d1b18323f2021ce3fdda6028?family=SamsungOne);

// @font-face {
//   font-family: "SamsungOne";
//   src: url("./@font-face/174b2ec3d1b18323f2021ce3fdda6028.eot") format("embedded-opentype"), url("./@font-face/174b2ec3d1b18323f2021ce3fdda6028.woff2") format("woff2"), url("./@font-face/174b2ec3d1b18323f2021ce3fdda6028.woff") format("woff"), url("./@font-face/174b2ec3d1b18323f2021ce3fdda6028.ttf") format("truetype"), url("./@font-face/174b2ec3d1b18323f2021ce3fdda6028.svg") format("svg");
// }


// Views


// Home
@import './partials/home';

//Shop
@import './partials/shop-display-products';
// @import './partials/shop-modal-products';
@import './partials/shop-card';
@import './partials/shop-product';

// Content
@import './partials/about';
@import './partials/facts';


// Components
@import './partials/header';
@import './partials/cart';
@import './partials/sidebarFilter';
@import './partials/payment';
@import './partials/payment-form';

// Sections


@import './partials/footer';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');




body {
  // height: 100vh;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-family: "SamsungOne";
  font-family: usual, sans-serif;
  background-color: $light-bg;
}

main {
  width: 100%;
}

h1 {

  font-size: 4rem;
  color: $dark-color;
}

// h2 {
//  
//   font-size: 3rem;
//   color: $yellow-color;
//   font-weight: 200;
// }

// h3 {
//  
//   font-size: 1.3rem;
//   font-weight: 100;
//   color: rgba(255, 255, 255, 0.7);
//   // text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

// }

h4 {

  font-size: 1.3rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

h6 {

  font-size: 1.3rem;
  font-weight: 100;
  color: $dark-color;

}

input {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

// span {
//   color: $span;
// }

.section-header-light {
  .section-title {
    font-family: satisfy, sans-serif;
    font-style: normal;
    font-size: 7rem;
    color: $light-color;

    @media screen and (max-width: 492px) {
      font-size: 4rem;
    }
  }

  .subtitle {
    font-family: usual, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    color: $light-color;

    @media screen and (max-width: 492px) {
      font-size: .9rem;
    }
  }
}

.section-header-dark {
  .section-title {
    font-family: satisfy, sans-serif;
    font-size: 4rem;
    color: $dark-color;

    @media screen and (max-width: 492px) {
      font-size: 2.2rem;
    }
  }

  .subtitle {
    font-family: usual, sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: $dark-color;

    @media screen and (max-width: 492px) {
      font-size: .9rem;
    }
  }
}

.section-content-light {
  padding-top: 4rem;
  height: 200px;

  .section-title {
    font-family: usual, sans-serif;
    font-size: 3rem;
    color: $yellow-color;
    font-weight: 200;

    @media screen and (max-width: 492px) {
      font-size: 2.2rem;
    }
  }

  .subtitle {
    font-family: usual, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: $dark-color;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, .8);

    @media screen and (max-width: 492px) {
      font-size: 1rem;
    }
  }
}


.section-content-dark {
  padding-top: 4rem;
  margin-bottom: 4rem;
  height: 200px;

  .section-title {
    font-family: usual, sans-serif;
    font-size: 3rem;
    color: $yellow-color;
    font-weight: 200;

    @media screen and (max-width: 492px) {
      font-size: 2.2rem;
    }
  }

  .subtitle {
    font-family: usual, sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: $light-color;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);

    @media screen and (max-width: 492px) {
      font-size: 1rem;
    }
  }
}


.category-shop {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  .card-category {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    color: $category;

    padding: 10px;
    display: inline-block;
    text-shadow: 1px 1px 2px white;
    list-style: none;
    transition-duration: .3s;
  }

  .active {
    display: inline-block;


    list-style: none;
    cursor: pointer;
    padding: 10px;

    color: $categoryActive;
    font-weight: bold;
    font-size: 1.2rem;

    padding-left: 15px;
    transition-duration: .3s;
  }

}