// HOME_VIEW_TOP
.collection-home {
  background: #F5F5F5;
  // padding-top: 5rem;
  // padding-bottom: 5rem;

  @media screen and (max-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .collection-content {
    // margin-top: 9rem;
    // padding: 2rem;
    height: 100%;

    .title {
      width: 100%;
      position: absolute;
      top: 40%;

      h2 {
        width: 50%;
        margin: auto;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: .5rem;
      }
    }


    .collection {

      .over-f {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .collection-after {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        
        h2 {
          color: #ffffff;
          width: 100%;
          position: absolute;
          top: 30%;
        }

        p {
          width: 100%;
          position: absolute;
          text-align: center;
          top: 40%;
        }

        .btn-after {
          width: 100%;
          position: absolute;
          top: 60%;

          h3 {
            margin: auto;
            z-index: 50;
            color: #fff;
            padding: .5rem;
            border: 1px solid #fff;
            width: 120px;
            transition: all .7s;

            &:hover {
              color: #191919;
              background-color: #ffffff;
            }
          }
        }
      }



    }






    // .collection-2020 {
    //   height: 20rem;

    //   img {
    //     &:hover {
    //       transition: 3s;
    //       top: -15rem;
    //     }
    //   }
    // }

    // .collection-2019 {
    //   height: 15rem;

    //   img {
    //     &:hover {
    //       transition: 4s;
    //       top: -15rem;
    //     }
    //   }
    // }

    // .collection-2018 {
    //   height: 15rem;

    //   img {
    //     &:hover {
    //       transition: 4s;
    //       top: -15rem;
    //     }
    //   }
    // }
  }


}