// HOME_VIEW_TOP
.home-promo-novelty {
  // margin-top: 2rem;


  .title {
    height: 80%;

    h2 {
      position: relative;
      z-index: 50;
      display: block;
      margin: auto;
      // user-select: none;
      font-size: 1.8em;
      // background-color: rgba(255, 255, 255, 0.8);
      padding-top: 8rem;
      margin-top: 0rem;
      width: 80%;
      height: 100%;
      // border: 1px solid #fff;
      text-align: center;
      color: #ffffff;
      transition-duration: .6s;
    }
  }


  .nov {
    padding: .5rem;
    background-color: #ffffff;
    // margin-left: 10rem;
    // margin-right: 20rem;

    .home-novelty {
      height: 22rem;
      overflow: hidden;
      transition: all .5s;

      &:hover {
        transition: all .5s;
        // box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
      }


      .home-novelty-content {
        background-image: url('./img/home/accessoires.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;

        transition: background-size 0.4s ease-in;
        -moz-transition: background-size 0.4s ease-in;
        -ms-transition: background-size 0.4s ease-in;
        -o-transition: background-size 0.4s ease-in;
        -webkit-transition: background-size 0.4s ease-in;

        &:hover {
          background-size: 102% 102%;
          transition: background-size 0.4s ease-in;
          -moz-transition: background-size 0.4s ease-in;
          -ms-transition: background-size 0.4s ease-in;
          -o-transition: background-size 0.4s ease-in;
          -webkit-transition: background-size 0.4s ease-in;
        }
      }
    }
  }




  .promo {
    padding: .5rem;
    background-color: #ffffff;
    // margin-left: 20rem;
    // margin-right: 10rem;

    .home-promo {
      height: 22rem;
      overflow: hidden;
      transition: all .5s;

      &:hover {
        transition: all .5s;
        // box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
      }


      .home-promo-content {
        background-image: url('./img/home/mall-background-.jpg');
        background-size: 110% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;

        transition: background-size 0.4s ease-in;
        -moz-transition: background-size 0.4s ease-in;
        -ms-transition: background-size 0.4s ease-in;
        -o-transition: background-size 0.4s ease-in;
        -webkit-transition: background-size 0.4s ease-in;

        &:hover {
          background-size: 112% 102%;
          transition: background-size 0.4s ease-in;
          -moz-transition: background-size 0.4s ease-in;
          -ms-transition: background-size 0.4s ease-in;
          -o-transition: background-size 0.4s ease-in;
          -webkit-transition: background-size 0.4s ease-in;
        }
      }
    }
  }






}