// HOME_VIEW_TOP
.slider-home-promotion {
  padding: 3rem;
  // margin-top: 3rem;

  background: #F5F5F5;

  @media screen and (max-width: 768px) {
    padding: .5rem;
    height: 32rem;
  }


  .promotion-parallax {
    margin-top: 12rem;
    padding: 0;

    @media screen and (max-width: 768px) {
      margin-top: 25rem;
    }

    .slick-n {
      bottom: 12rem !important;
      right: -2rem;
      @media screen and (max-width: 650px) {
        right: 0rem;
      }
    }

    .slick-p {
      bottom: 12rem !important;
      left: -2rem;
      @media screen and (max-width: 650px) {
        left: 0rem;
      }
    }
  }

  .title-promotion {
    h2 {
      position: absolute;
      top: -1rem;
      right: 0;

      user-select: none;
      font-size: 10em;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.1);
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255, 255, 255, .7);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;

      @media screen and (max-width: 768px) {
        font-size: 4em;
        top: 1rem;
      }
    }

  }

  .promotion-content {
    background: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;

    img {
      transition: .3s;

      &:hover {
        transition: .5s;
        transform: scale(1.4);
      }
    }
  }

  .item-details {

    h2 {
      font-size: 1.7em;
    }

    h5 {
      font-size: 1.4em;

      span {
        color: #19191960;
        text-decoration: line-through;
      }
    }
  }






}