// HOME_VIEW_TOP
.cards-home {
  .MuiBox-root {
    min-height: 33rem;
    @media screen and (max-width: 768px) {
      height: 20rem;
    }
  }

  .MuiAppBar-root {
    max-width: 400px;
    box-shadow: none;

    .MuiTabs-indicator {
      height: 1px !important;
      background-color: $pink-color !important;
    }

    .MuiButtonBase-root {
      outline: none;

      .MuiTouchRipple-root {
        color: black;
      }

      .MuiTab-wrapper {
        font-family: "quickSandRegular", sans-serif !important;
        color: #191919;
        font-size: 1.3em;
      }
    }
  }


  .slick-content-home {
    .hover-view {
      height: 22.5rem;
      // font-size: .8em;
      @media screen and (max-width: 768px) {
        height: 15.5rem;
      }

      .after-img {
        position: relative;
        left: 0;
        right: 0;
        z-index: 500;
        bottom: 6.7rem;

        .preview {
          position: relative;
          top: -16rem;
          left: 8.5rem;

          .img-fluid {
            height: 35px;
          }
        }

        span {
          display: block;
          width: 100%;
          height: 40px;
          margin: 0 auto;
          padding-top: .7rem;
          font-size: 1.2em;
          text-align: center;
          color: $dark-color;
          background-color: rgba(255, 255, 255, 0.9);
          transition: .5s;
          &:hover {
            transition: .5s;
            color: $light-color;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

      }
    }


    .slick-dets {
      font-size: .85em;
    }



  }





  // .home-card {
  //   margin-bottom: 2rem;
  //   transition: all .5s;

  // &:hover {
  //   box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  // }

  // .home-card-content {
  //   overflow: hidden;
  //   height: 15rem;
  //   z-index: 100;


  //   img {
  //     position: relative;
  //     left: -4rem;
  //     width: 23rem;

  //     @media (max-width: 576px) {
  //       left: -7rem;
  //       width: 35rem;
  //     }
  //   }

  // }

  // .home-card-desc {
  //   padding: .5rem;
  // }

  // }


}