// HOME_VIEW_TOP
.slider-home-one {
  background-color: #F5F5F5;

  // h2 {
  //   font-family: satisfy, sans-serif;
  //   font-size: 7em;
  //   font-weight: bold;

  //   @media screen and (max-width: 576px) {
  //     font-size: 4em;
  //   }
  // }

  p {
    font-size: 1em;

    @media screen and (max-width: 576px) {
      font-size: .8em;
    }
  }

  // h4 {
  //   font-weight: bold;
  // }


  .slick-current {
    position: relative;
    z-index: 50;

  }


  .slick-dots {
    // background-color: #F5F5F5;
    bottom: 0rem;

    li button::before {
      font-size: 8px;
    }
  }

  .slick-slider {
    // padding: 2rem;

    @media screen and (max-width: 768px) {
      padding-top: 3rem;
    }

    .slick-list {
      min-height: 30rem;

      .slick-content {
        // height: 50vh;

        @media screen and (max-width: 768px) {
          height: 80vh;
        }

        // button {
        //   box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);
        // }
        // overflow: hidden;
        .MuiButton-containedSecondary,
        .MuiButton-outlinedSecondary {
          outline: none;
        }

        .MuiButton-outlinedSecondary {
          font-size: .8em;

          @media screen and (max-width: 768px) {
            font-size: .6em;
          }
        }
      }








      .content-one :not(input):not(textarea):not([contenteditable="true"]) {
        -moz-user-select: none !important;
        -webkit-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }


      .content-one {
        // background-image: url('./img/home/accessoires.jpg');
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: 0 -35rem;
        height: 30rem;

        img {
          position: absolute;
          right: -10rem;
          top: -15rem;
          z-index: -1;
          height: 650px;
        }

        // width: 100%;
        @media screen and (max-width: 1550px) {
          background-position: 0 -25rem;
        }

        @media screen and (max-width: 1300px) {
          background-position: 0 -15rem;
        }

        @media screen and (max-width: 1068px) {
          background-position: 0 0rem;
        }


        .deposit {
          max-height: 27rem;
        }

        .visage {
          position: absolute;
          top: -10rem;
          left: 15rem;
          max-height: 40rem;

          @media screen and (max-width: 991px) {
            top: -10rem;
            left: 5rem;
          }
        }
      }





      .content-two :not(input):not(textarea):not([contenteditable="true"]) {
        -moz-user-select: none !important;
        -webkit-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }


      .content-two {
        height: 30rem;

        img {
          max-height: 350px;

          @media screen and (max-width: 768px) {
            padding-bottom: 5rem;
          }
        }

        p {
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        h2 {
          font-family: satisfy, sans-serif;
          font-size: 3.5em;
          padding: .3rem;
          line-height: .8em;
          margin-top: 1rem;

          &::after {
            position: absolute;
            top: 0rem;
            left: .5rem;
            content: '';
            height: 100px;
            width: 2px;
            background: #f50057;
          }

          @media screen and (max-width: 768px) {
            font-size: 2.5em;
          }
        }

        .collection {
          color: #f50057;

        }

        .round {
          z-index: -1;
          position: absolute;
          top: -2rem;
          right: 0rem;
          max-height: 22rem;
        }
      }



    }
  }
}